body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navBrand {
  background-image: url("../../Logo.png");
  height: 100px;
  width: 100%;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.navlink {
  font-size: 35px;
}