@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


:root {
  --main-color: #5D4B6F;
  --main-bg-color: #E6E3E9;
  --main-text-color: #160422;
  --main-accent-color: #C4C4C4;
  --secondary-accent-color: #56525A;
}

body {
  background-color: var(--main-bg-color);
}

.slds-scope #landingMain {
  width: 100vw;
  height: 100vh;
  background-image:url('HomeGlobe.jpg');
  background-size:cover;
  background-position: center;
}

.slds-scope main {
  padding: 25px 100px;
}
.slds-scope h1, h1, .slds-scope h2, h2, .slds-scope h3 {
  font-family: "Merriweather";
  color: var(--main-text-color)
}

.slds-scope h4, h4, .slds-scope h5, h5 {
  font-family: "Merriweather";
  font-style:italic;
  color: var(--main-text-color);
}

.slds-scope h6, h6, .slds-scope p, p {
  font-family: "Inconsolata";
  font-weight: normal;
  font-style: normal;
  color: var(--main-color);
}

.slds-scope h1, h1{
  font-size: 50px;
}
.slds-scope h2, h2{
  font-size: 40px;
}
.slds-scope h3, h3{
  font-size: 35px;
}
.slds-scope h4, h4{
  font-size: 30px;
}
.slds-scope h5, h5{
  font-size: 25px;
}
.slds-scope h6, h6{
  font-size: 20px;
}
.slds-scope p, p{
  font-size: 18px;
}

.slds-scope a, a {
  color:var(--main-color);
  font-family: 'Inconsolata';
  font-weight: 700;
}

.slds-scope a:hover, a {
  color:var(--main-text-color);
}

.slds-scope a:visited, a:visited {
  color:var(--main-color);
}

#sideBar {
  background: var(--main-color); 
  width: 45px; 
  overflow-x:hidden; 
  height:100vh; 
  position:fixed; 
  top:0; 
  left:0;
  transition: width 1s ease-in;
} 
#sideBar:hover {
  width: 250px;
}

.slds-scope .slds-icon_container {
  background: var(--main-color);
}

#navbarBrand {
  display: block;
  position: relative;
  width: 250px;
}

#navbarBrand img {
  width: 250px;
  display:block;
  position:relative;
}

.slds-scope .navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:70vh;
}

.slds-scope .navigation a {
  width: 250px;
}

.slds-scope .navigation a h5{
  color:var(--main-bg-color);
  z-index: 1000;
}


.slds-scope .navigation a:hover h5{
  color:var(--main-text-color);
  text-decoration:underline;
}

.slds-scope input[type=text]{
  border-radius: 7px;
  padding: 5px;
}

.slds-scope select{
  min-width: 100px;
  border-radius: 7px;
  padding: 5px;
}

.slds-scope .multiSelectPicklistCell img{
  width:40%;
}
.slds-scope label {
  font-family: "Merriweather";
  font-size: 18px;
  font-weight: 600;
}