#leadIntro {
	margin-left:auto;
	margin-right:auto;
	width:75%;
}

.greeting {
	text-align:center;
	font-style:italic;
	margin-bottom:50px;
}

.leadIntroBody {
	text-align:justify;
}

h1.leadIntroHeader {
	font-size:26px;
	text-align:center;
	font-weight:bold;
}

.lresults {
	text-align:center;
	font-size:16px;
}

h2.mainLink {
	font-size:18px;
	text-align:center;
	font-weight:bold;
}

h2.quizHeader {
	font-size:18px;
	font-weight:bold;
}

.quizMain {
	margin-left:auto;
	margin-right:auto;
	width:75%;
}

.quizResultsFields {
	text-align:center;
	font-size:18px;
}

.quizResults {
	text-align:center;
	font-size:18px;
	font-weight:bold;
}

.quizInstructions {
	font-size:12px;
	font-style:italic;
}

.quizQuestion {
	font-size:14px;
	font-weight:bold;
}